main {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0 0 25%;
    gap: 30px;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    a:visited {
        color: darkgrey;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin-left: 0;
    }
}